{% extends 'bootstrap/base.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="static\css\styles.css">
{% endblock %}

{% block title %}Welkom{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Welkom</h1>
      <br><br><font size="60"><a href="/">GIT</a> - <a href="/wetty">Terminal</a> - <a href="/gitea/training">GIT training</a>
      </center>
    </div>
  </div>
</div>

{% endblock %}
